@font-face {
  font-family: "InterVar";
  src: url("./assets/InterVariable-H_M6nIbt.ttf");
}

html,
body {
  font-family: "InterVar", sans-serif;
  overflow: hidden;
  background: #000000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
span {
  background: transparent;
  border: 0;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
}

#titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (orientation: landscape) {
  h2,
  h3,
  h4,
  p,
  span {
    width: 40%;
    font-size: 20px;
  }

  #vimeo {
    width: 70%;
  }
  #names {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (orientation: portrait) {
  h2,
  h3,
  h4,
  p,
  span {
    font-size: 15px;
    width: 90%;
  }

  #vimeo {
    width: 100%;
  }

  #names {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
